body {
    margin: 0px;
    padding: 0px;
}

.logo img{
    display: inline-block;
    margin: 10px;
    margin-top: 7vh;
    margin-left: 20px;
}

.logo div {
    display: inline-block;
    float: right;
    margin: 10px;
    margin-top: 7vh;
    margin-right:100px;
}

.logo a{
    margin-left: 20px;
}

.title {
    font-family: Aldrich,sans-serif;
    color: #111111;
    text-align: center;
    line-height: 7vh;
    font-size: large;
}

.navigation a{
    text-decoration: none;
    color: #B7B7B7;
}
/* .menu  a{
    display: inline-block;
    width: fit-content;
    margin-left: 20px;
}

.menu div {
    display: inline;
    margin-left: 30vw;
} */

.container div{
    display: flex;
    /* width: 90vw;
    height: 90vh; */
    box-sizing: border-box;
    margin-right: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.container img {
    /* width: 30vw;
    height: 30vh; */
    flex:70%;
    max-width: 30%;
    padding: 0 4px;
    padding: 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: width 5s ease-in-out;
}

.container img:hover {
    opacity: .7;
    border: 2px solid rgb(167, 237, 255);
    outline: lightblue;
    width:500px;
    overflow-x: hidden;
    overflow-y: hidden;

}    

.navigation a:hover {
    color: #504f4f;
    font-weight: bold;
}